# Idea Files #
target/*
.idea/*
.idea/workspace.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/codeStyles/Project.xml
junit-testcontainer-aerospike/target/*
junit-testcontainer-demo/target/*
junit-testcontainer-commons/target/*
junit-testcontainer-elasticsearch/target/*
junit-testcontainer-rabbitmq/target/*
junit-testcontainer-hbase-1.x/target/*
junit-testcontainer-hbase-2.x/target/*
junit-testcontainer-mariadb/target/*
junit-testcontainer-azure-blob/target/*
*.ipr
*.iws
*.iml
.idea/*
.idea/codeStyles/Project.xml
.DS_Store
.idea/compiler.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/workspace.xml

.project
.settings/
.classpath
