# Idea Files #
target/*
.idea/*
.idea/workspace.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/codeStyles/Project.xml
testcontainer-aerospike/target/*
testcontainer-demo/target/*
testcontainer-commons/target/*
testcontainer-elasticsearch/target/*
testcontainer-rabbitmq/target/*
*.ipr
*.iws
*.iml
.DS_Store
.idea/compiler.xml
.idea/workspace.xml